<div class="container">
    <h2>Your Orders</h2>
        <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Price</th>
                    <th scope="col">Booking Date</th>
                    <!-- <th scope="col">Select Vehicle</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of vehicle" ng-click="selectedVehicle()">
                    <td>{{v.detailsId.vehicleId.name}}</td>
                    <td style="margin-left: 68mm;">{{v.detailsId.color}}</td>
                    <td style="margin-left: 68mm;">{{v.detailsId.price}}</td>
                    <td style="margin-left: 68mm;">{{v.bookingDate}}</td>
                    <td align="right"><button type="button" (click)="view(v.detailsId.detailsId)" class="btn btn-primary">Change Vehicle</button>
                    <button type="button" (click)="cancel(v.detailsId.detailsId)" style="margin-left: 3mm;" class="btn btn-danger">Cancel Vehicle</button>
                    <button type="button" (click)="pay(v.detailsId.detailsId)" style="margin-left: 3mm;" class="btn btn-success">Make Payment</button></td>
                  </tr>
                </tbody>
        </table>
</div>