<!-- <div class="container">
        <div class="col-lg-6">
                <img style="width: 510px; height: 270px;" src="../../assets/images/harley.jpg">
                <img style="width: 510px; height: 270px; margin-top: 4mm;" src="../../assets/images/bike.jpg">
        </div>

        <div class="col-lg-6">
                <img style="width: 510px; height: 270px;" src="../../assets/images/harlee.jpg">
                <img style="width: 510px; height: 270px; margin-top: 4mm;" src="../../assets/images/royal.jpeg">
        </div>
</div> -->
<div class="main">

           <!-- Portfolio Gallery Grid -->
                <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="../../assets/images/bike.jpg" alt="Mountains" style="width:100%">
                      <h4>Yamaha</h4>
                      <h4>Price</h4>
                      <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>
                      
                    </div>
            </div>
                  <div class="column">
                    <div class="content">
                    <img src="../../assets/images/harlee.jpg" alt="Lights" style="width:100%">
                    <h4>Yamaha</h4>
                    <h4>Price</h4>
                    <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="../../assets/images/harley.jpg" alt="Nature" style="width:100%">
                    <h4>Yamaha</h4>
                    <h4>Price</h4>
                    <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="../../assets/images/royal.jpeg" alt="Mountains" style="width:100%">
                    <h4>Yamaha</h4>
                    <h4>Price</h4>
                    <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>  
                    </div>
                  </div>

                  
                
                <!-- END MAIN -->
                </div>
 
<div class="main">

           <!-- Portfolio Gallery Grid -->
                <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="../../assets/images/bike.jpg" alt="Mountains" style="width:100%">
                      <h4>Yamaha</h4>
                      <h4>Price</h4>
                      <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>
                      
                    </div>
            </div>
                  <div class="column">
                    <div class="content">
                    <img src="../../assets/images/harlee.jpg" alt="Lights" style="width:100%">
                    <h4>Yamaha</h4>
                    <h4>Price</h4>
                    <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="../../assets/images/harley.jpg" alt="Nature" style="width:100%">
                    <h4>Yamaha</h4>
                    <h4>Price</h4>
                    <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="../../assets/images/royal.jpeg" alt="Mountains" style="width:100%">
                    <h4>Yamaha</h4>
                    <h4>Price</h4>
                    <button routerLink="/cust/aboutus" type="button" class="btn btn-large btn-block btn-info">View</button>  
                    </div>
                  </div>

                  
                
                <!-- END MAIN -->
                </div>